[user]
	name = XLor
	email = yjl9903@vip.qq.com

[core]
	editor = "code --wait"
	autocrlf = input
	safecrlf = true
	quotePath = false

[alias]
	amend = commit --amend --no-verify
	pusht = push --tags
	pushd = push --delete
